@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root{
    --text-primary: #111111;
    --text-secondary: #737373;
    --border-color: #EBEBEB;
    --background-light: #F5F5F5;
    --color-white: #FFFFFF;
}
/*CSS reset*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
ul, ol {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-primary);
}
h2,h3,h4,h5{
    font-weight: 400;
}
a{
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}
button{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0;
}

.container{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.container.small{
    max-width: 872px;
    /*padding: 0;*/
}

@media (min-width: 1024px){
    .container{
        max-width: 1320px;
        padding-left: 3.75rem;
        padding-right: 3.75rem;
    }
}

/*Utility classes*/
h1, .h1{
    font-size: 1.9rem;
    line-height: 1.2;
    font-weight: 700;
}
h2, .h2{
    font-size: 1.5rem;
    line-height: 1.3;
}
@media (min-width: 768px){
    h1, .h1{
        font-size: 3rem;
        line-height: 1;
    }
    h2, .h2{
        font-size: 1.75rem;
        line-height: 1.2;
    }

}
.uppercase{
    text-transform: uppercase;
}
.text-large{
    font-size: 1rem;
}
.text-medium{
    font-size: .9rem;
}
.text-secondary{
    color: var(--text-secondary);
}

.btn{
    padding: 1rem 2rem;
    height: 56px;
    border-radius: 0.5rem;
    border: none;
    transition: all .3s ease;
}
.btn-black{
    background-color: var(--text-primary);
    color: var(--color-white);
}
.btn-black:hover{
    background-color: var(--text-secondary);
}
.btn-white{
    background-color: var(--color-white);
    color: var(--text-primary);
}
.btn-white:hover{
    background-color: #CACACB;
}


/*Navbar*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-white);
    transition: transform 0.3s ease;
    z-index: 999;
}
header.hidden{
    transform: translateY(-100%);
}
.navbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 768px){
    .navbar{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.navbar>.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar .navbar-logo{
    display: none;
}

@media (min-width: 768px){
    .navbar .navbar-logo{
        display: block;
    }
}

.navbar-toggler{
    background-color: transparent;
    border: 1px solid transparent;
}

@media (min-width: 768px){
    .navbar .navbar-toggler{
        display: none;
    }
}

.navbar .navbar-nav{
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity .3s ease-in, max-height .3s ease-in;
}

.navbar-nav.show {
    /*display: none;*/
    margin-top: 1.5rem;
    opacity: 1;
    overflow: visible;
}

@media (min-width: 768px){
    .navbar .navbar-nav{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-height: max-content;
        opacity: 1;
        overflow: visible;
        margin-top: 0;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
}

.navbar .navbar-nav .nav-link{
    position: relative;
    width: 100%;
}

.navbar .navbar-nav .nav-link:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--text-primary);
    transition: .3s;
}
.navbar .navbar-nav .nav-link.active:before, .navbar .navbar-nav .nav-link:hover:before{
    width: 100%;
}



/*Swiper Hero slider*/
.hero{
    height: 600px;
    position: relative;
    /*background-color: #111111;*/
}

@media (min-width: 768px){
    .hero{
        height: 750px;
    }
}

.hero .swiper {
    width: 100%;
    height: 100%;
}
.hero-slider.swiper{
    --swiper-pagination-color: #fff;
    --swiper-pagination-bullet-width: 20px;
    --swiper-pagination-bullet-height: 6px;
    --swiper-pagination-bullet-inactive-color: #fff;
}

.hero-slider .swiper-pagination-bullet{
    border-radius: 0.25rem;
}

.hero .slide{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.hero .slide::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.2);
}

.hero .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .hero-content{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 640px;
    text-align: center;
    z-index: 10;
}

.hero .hero-content> * + *{
    margin-top: 2rem;
}

.hero .inner-container{
    color: var(--color-white);
}

.hero .inner-container> * + *{
    margin-top: 1rem;
}

.hero .hero-content button{
    width: 220px;
}

@media (min-width: 768px) {
    .hero .hero-content{
        padding-left: 3.75rem;
        padding-right: 3.75rem;
        text-align: left;
    }
}

/*Section styles*/
.section{
    padding-top: 60px;
    padding-bottom: 60px;
}

.section.bg-light-gray{
    background-color: var(--background-light);
}

.section-header{
    max-width: 872px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
}

.section-title{
    margin-bottom: 1rem;
}



@media (min-width: 768px){
    .section-header{
        margin-bottom: 3rem;
    }
}

/*Featured featured Section*/

.featured-collection .item-details{
    margin-top: 1rem;
}
.featured-collection .item-details>*+*{
    margin-top: 0.5rem;
}

.featured-collection .item-thumb img{
    border-radius: 0.5rem;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}
.featured-collection .slider-container{
    position: relative;
}
.featured-collection .swiper-button-next-custom,
.featured-collection .swiper-button-prev-custom{
    width: 40px;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    /*top: 40%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all .3s ease;
}
.featured-collection .swiper-button-next-custom:hover,
.featured-collection .swiper-button-prev-custom:hover{
    border-color: #111111;
}
.featured-collection .swiper-button-next-custom{
    right: -20px;
    top: 50%;
    transform: translateY(-100%);
}
.featured-collection .swiper-button-prev-custom{
    left: -20px;
    top: 50%;
    transform: translateY(-100%);
}
.featured-collection .swiper-button-prev-custom img{
    transform: scaleX(-1);
}
.featured-collection .swiper-button-prev-custom.swiper-button-disabled,
.featured-collection .swiper-button-next-custom.swiper-button-disabled {
    display: none;
}

@media (max-width: 1024px){
    .swiper.collection-slider .swiper-slide{
        width: auto;
    }
}
@media (max-width: 361px){
    .swiper.collection-slider .swiper-slide{
        width: 90%;
    }
}

@media (max-width: 768px){
    .featured-collection .swiper-button-next-custom,
    .featured-collection .swiper-button-prev-custom {
        display: none;
    }
}



/*Product card Section*/
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}


.product-card .product-images{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 0;
}

.product-card .main-image{
    position: relative;
}

.product-card .main-image .badge{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem;
    display: flex;
    gap: 0.25rem;
    background-color: var(--color-white);
    text-transform: capitalize;
}

.product-card .main-image img{
    /*min-width: 536px;*/
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 0.5rem;
}

.product-card .product-gallery{
    display: flex;
    gap: 1rem;
    overflow: hidden;
}

.product-card .product-gallery.hidden{
    display: none;
}

.product-card .product-gallery .image-container{
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    flex-shrink: 0;
}

.product-card .product-gallery .image-container.active::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.2);
}

.product-card .product-gallery img{
    max-width: 88px;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}



.product-info .product-price{
    margin-top: 0.75rem;
    color: var(--text-secondary);
}

.product-info .color-options{
    display: flex;
    gap: 0.5rem;
}

.product-info .color-options .color-button{
    width: 88px;
    height: 88px;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    overflow: hidden;
}

.product-info .color-options .color-button.active{
    border-color: var(--text-primary);
}

.product-info .color-options .color-button img{
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.product-info .size-options .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.product-info .size-options .grid .size-button{
    padding: 1rem;
    height: 52px;
    font-size: 0.85rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    background-color: var(--color-white);
}

.product-info .size-options .grid .size-button.active, .product-info .size-options .grid .size-button:hover{
    border-color: var(--text-primary);
}

.product-info .add-to-cart{
    width: 100%;
}

@media (min-width: 768px){
    .product-card{
        flex-direction: row;
    }
    .product-card .product-images, .product-card .product-info{
        flex: 1;
    }
    .product-card .product-images .main-image{
        max-width: 536px;
    }
}

@media (min-width: 1280px) {
    .product-card .product-images{
        flex-direction: row-reverse;
        gap: 1.5rem;
    }
    .product-card .product-gallery{
        flex-direction: column;
        gap: 1.5rem;
    }
    .product-info .size-options .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

/*FAQ Section*/
.question-list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.question-item{
    padding: 1.5rem;
    background-color: var(--color-white);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
}

.question-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    text-align: left;
}

.question-title .icon {
    position: relative;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    background-image: url("../img/icons/plus-btn.svg");
    background-position: center;
    background-size: cover;
    transition: transform 0.3s ease;
}

.question-item.open .icon {
    background-image: url("../img/icons/minus-btn.svg");
}

.answer-text{
    overflow: hidden;
    max-height: 0;
    transition: max-height .3s ease, opacity .3s ease;
    opacity: 0;
}
.question-item.open .answer-text {
    margin-top: 20px;
    overflow: visible;
    opacity: 1;
}

/*Contact Form*/
.contact-form .grid-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group.full{
    grid-column: 1 / -1;
}

.form-group input,
.form-group textarea {
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
}
.form-group textarea{
    min-height: 150px;
    resize: vertical;
}

.form-submit{
    text-align: center;
}

.form-submit .btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 120px;
}

@media (min-width: 768px) {
    .contact-form .grid-container{
        grid-template-columns: 1fr 1fr;
    }

}

/*Footer */
footer{
    padding-top: 3.75rem;
    padding-bottom: 1.5rem;
}

.footer-nav{
    margin-bottom: 3rem;
}
.footer-menu{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid var(--border-color);
}

.footer-menu:last-child{
    border-bottom: 1px solid var(--border-color);
}

.footer-nav-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu .icon{
    transition: all .3s ease;
    transform: rotate(180deg);
}

.footer-menu.open .icon{
    transform: rotate(0);
}

.footer-nav-list{
    overflow: hidden;
    max-height: 0;
    transition: max-height .3s ease, opacity .3s ease;
    opacity: 0;
}

.footer-menu.open .footer-nav-list{
    margin-top: 1rem;
    overflow: visible;
    opacity: 1;
}

.footer-nav-list li+li{
    margin-top: 0.75rem;
}

.footer-link, .copyright-content{
    color: var(--text-secondary);
    font-size: 0.9rem;
}

.footer-link:hover, .footer-link.active{
    color: var(--text-primary);
}

.footer-copyright, .policies-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

@media (min-width: 768px){
    .footer-nav{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-menu, .footer-menu:last-child{
        border: none;
    }
    .footer-menu .icon{
        display: none;
    }
    .footer-nav-title{
        pointer-events: none;
    }
    .footer-nav-list{
        margin-top: 1rem;
        opacity: 1;
        max-height: none;
        height: auto;
    }

    .footer-copyright, .policies-list{
        flex-direction: row;
        gap: 2rem;
    }
}

/*Modal*/
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-container{
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 1rem;
}

.modal-close{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
}

.modal-content{
    background-color: #FFFFFF;
    padding: 60px 24px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.modal-header>*+*, .modal-form>*+*{
    margin-top: 1rem;
}

.modal-form button{
    width: 100%;
}

.modal-img{
    display: none;
}

@media (min-width: 768px){
    .modal-container{
        max-width: 870px;
    }
    .modal-content{
        padding: 60px;
    }
    .modal-img{
        display: block;
        max-width: 350px;
    }
    .modal-img img{
        height: 100%;
        object-fit: cover;
    }
}