/*CSS reset*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    min-height: 100vh;
    line-height: 1.5;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}